{% extends "master.html" %}
{% block content %}

<div class="container">

	<p><strong> कुछ मेरे बारे में </strong>
<br/>मेरे जन्म के पूर्व, वर्णमाला बन चुकी थी,
<br/>शब्द बना लिये गये थे, व्याकरण भी मैंने नहीं बनायी,
<br/>वाक्य बनाना मैंने औरों से सीखा, समाचार पत्र भी बहुत दिनों से पढ़ रहा हूँ,
<br/>पुस्तकालय की उम्र मेरी उम्र से दुगुनी है, दृष्टिकोण में पूर्वाग्रह विरासत में मिला है,
<br/>मेरा पेन भी किसी ने भेंट किया है. अपनी पुस्तक के लेखक के रूप में,
<br/>सिर्फ स्वयं का नाम लिख रहा हूँ,
<br/>क्या आप मुझे क्षमा करेंगे ?
	</p>
<p><strong> मौलिकता</strong>
		
	<br/> न अनुवाद
	<br/> न भावार्थ लिखो
	<br/> जो लिखा है और ने,
	<br/> उसे न बार-बार लिखो।
	
	<br/> न समीक्षा,
	<br/> न समालोचना,
	<br/> स्वयं लिखो स्वयं का
	<br/> औरों का न आधार लिखो ।
	
	<br/> न टिप्पणी,
	<br/> न प्रतिकिया,
	<br/> बेकार लिखे पर
	<br/> क्यों बेकार लिखो ।
</p>
	</p>
	</div>
{% endblock content %}